.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 30px;
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 9, 121, 1) 75%,
    rgba(2, 0, 36, 1) 100%
  );
}

.footerText {
  text-align: center;
  color: #ffffff;
}
